<div class="tweet-not-displayed {{^spoiler_alert}}hidden{{/spoiler_alert}}">
  <h2>The following tweet may contain spoiler material</h2>

    <p>Your <a href="#" target="_blank">Spoiler tweet settings</a> are configured to inform you when tweets may be spoiler.</p>

  <button type="button" class="btn display-this-tweet">
    View
  </button>

    &middot;
    <button type="button" class="btn-link always-display-tweet">Always show me spoiler tweets from this account</button>
</div>
